@page "/account/orders"
@layout ManageLayout

<h3>My orders</h3>

<p class="text-muted">
    Your order history will appear here.
</p>

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Status</th>
            <th class="text-end">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>#TD-20456</td>
            <td>08 Nov 2025</td>
            <td>Shipped</td>
            <td class="text-end">$1,499.00</td>
        </tr>
    </tbody>
</table>
